Repository NOAA-GFDL/CEFI-regional-MOM6, pull requests merged in 2024-11, with the labels that each got.

#109 Leverage Intel Containers for NOAA RDHPC Cross-Platform Reproducibility
  .github/workflows/CEFI_MOM6-ci.yaml
  builds/ci_build_driver.sh
  builds/container-scripts/externalize.sh
  builds/docker/linux-intel.env
  builds/docker/linux-intel.mk
  builds/linux-build.bash
  exps/NEP10.COBALT/ref/docker-linux-intel-repro/ocean.stats
  exps/NEP10.COBALT/run_container.sh
  exps/test/run_container.sh
Labels: pass_CEFI_MOM6_RT_container

#111 Add BGC runoff scripts for NEP and ARC domains
  tools/rivers/bgc/ARC/Data/ArcticGro/ArcticGRO_Water_Quality_Data.xlsx
  tools/rivers/bgc/ARC/Data/ArcticGro/ArcticGro_Process.m
  tools/rivers/bgc/ARC/Data/GLORICH/Arctic_GLORICH_Process.m
  tools/rivers/bgc/ARC/README.md
  tools/rivers/bgc/ARC/make_discharge_climatology_arctic.m
  tools/rivers/bgc/ARC/mapriv_NEWS2.m
  tools/rivers/bgc/ARC/mapriv_combined_Arctic.m
  tools/rivers/bgc/NEP/Data/ArcticGro/ArcticGRO_Water_Quality_Data.xlsx
  tools/rivers/bgc/NEP/Data/ArcticGro/ArcticGro_Process.m
  tools/rivers/bgc/NEP/Data/GLORICH/NEP_GLORICH_Process.m
  tools/rivers/bgc/NEP/README.md
  tools/rivers/bgc/NEP/make_discharge_climatology_nep.m
  tools/rivers/bgc/NEP/mapriv_NEWS2.m
  tools/rivers/bgc/NEP/mapriv_combined_NEP10k.m
  tools/rivers/bgc/NWA/GlobalNEWS2_RH2000Dataset-version1.0.xls
  tools/rivers/bgc/NWA/README.md
  tools/rivers/bgc/NWA/mapriv_NEWS2_NWA12_GLOFAS.m
  tools/rivers/bgc/NWA/mapriv_combined_NWA12_GLOFAS.m
  tools/rivers/bgc/NWA/nc64startup.m
  tools/rivers/bgc/NWA/write_glofas_ave.py
Labels: pass_CEFI_MOM6_RT_container

#112 Separate regional plotting from chl_eval script and add config file to script
  diagnostics/biogeochemistry/NWA12/chl_eval_regional.py
  diagnostics/biogeochemistry/chl_eval.py
  diagnostics/biogeochemistry/config.yaml
Labels: CEFI_MOM6_RT_gaea_c6, pass_CEFI_MOM6_RT_container

#115 First attempt at using containerized MOM6SIS2 for NWA12 and NEP10 RT
  .github/workflows/CEFI_MOM6-ci.yaml
  exps/NEP10.COBALT/COBALT_parameter_doc.all
  exps/NEP10.COBALT/INPUT/MOM_override
  exps/NEP10.COBALT/MOM_parameter_doc.all
  exps/NEP10.COBALT/MOM_parameter_doc.short
  exps/NEP10.COBALT/SIS_parameter_doc.all
  exps/NEP10.COBALT/SIS_parameter_doc.short
  exps/NEP10.COBALT/driver.sh
  exps/NEP10.COBALT/ref/docker-linux-intel-repro/ocean.stats
  exps/NWA12.COBALT/COBALT_parameter_doc.all
  exps/NWA12.COBALT/driver.sh
Labels: pass_CEFI_MOM6_RT_container

#116 Refactor GHA CI workflow
  .github/workflows/CEFI_MOM6-ci.yaml
  .github/workflows/CEFI_MOM6_c6-ci._yaml
Labels: pass_CEFI_MOM6_RT_container

#108 Clean up diag_table files to provide a default CEFI diag_table
  xmls/NEP10/CEFI_NEP_cobalt.xml
  xmls/NWA12/CEFI_NWA12_cobalt.xml
  xmls/NWA12/CEFI_NWA12_cobalt_fms2_yaml.xml
  xmls/NWA12/diag_tables/diag_table.SIS
  xmls/NWA12/diag_tables/diag_table_CEFI_COBALT_default
  xmls/NWA12/diag_tables/diag_table_CEFI_MOM6_default
  xmls/NWA12/diag_tables/diag_table_CEFI_SIS_default
  xmls/NWA12/diag_tables/diag_table_COBALT_2023-04
  xmls/NWA12/diag_tables/diag_table_MOM6_2023-03
  xmls/NWA12/diag_tables/diag_table_MOM6_2024-09
Labels: pass_CEFI_MOM6_RT_container

#96 Add Preporcessing Scripts and a README to the sponges tools
  tools/sponge/README.md
  tools/sponge/preproc_scripts/fill_glorys_nn_monthly.csh
  tools/sponge/preproc_scripts/get_so_monthly.csh
  tools/sponge/preproc_scripts/get_thetao_monthly.csh
  tools/sponge/preproc_scripts/merge_so_thetao_year.csh
Labels: CEFI_MOM6_RT_container

#118 Containerized 2d tide case and tested it through github Action runner
  .github/workflows/mom6_tide_2D.yaml
  builds/docker/linux-intel.mk
  exps/NWA12.tidesonly/INPUT/grid_spec.nc
  exps/NWA12.tidesonly/INPUT/land_mask.nc
  exps/NWA12.tidesonly/INPUT/ocean_hgrid.nc
  exps/NWA12.tidesonly/INPUT/ocean_mask.nc
  exps/NWA12.tidesonly/INPUT/ocean_mosaic.nc
  exps/NWA12.tidesonly/INPUT/ocean_topog.nc
  exps/NWA12.tidesonly/INPUT/tu_001.nc
  exps/NWA12.tidesonly/INPUT/tu_002.nc
  exps/NWA12.tidesonly/INPUT/tu_003.nc
  exps/NWA12.tidesonly/INPUT/tz_001.nc
  exps/NWA12.tidesonly/INPUT/tz_002.nc
  exps/NWA12.tidesonly/INPUT/tz_003.nc
  exps/NWA12.tidesonly/MOM_input
  exps/NWA12.tidesonly/MOM_parameter_doc.all
  exps/NWA12.tidesonly/MOM_parameter_doc.debugging
  exps/NWA12.tidesonly/MOM_parameter_doc.short
  exps/NWA12.tidesonly/driver.sh
  exps/NWA12.tidesonly/ref/docker-linux-intel-repro/ocean.stats
Labels: pass_CEFI_MOM6_RT_container
