Repository NOAA-GFDL/CEFI-regional-MOM6, pull requests merged in 2025-03, with the labels that each got.

#153 create var extract script in postprocessing
  xmls/postprocessing/example_extract_var.json
  xmls/postprocessing/extract_var_from_history.py
Labels: CEFI_MOM6_RT_container

#136 Add scripts to run containerized model outside of FRE
  ci/NWA/Dockerfile
  ci/NWA/INPUT/.gitkeep
  ci/NWA/OUTPUT/stdout/.gitkeep
  ci/NWA/README.md
  ci/NWA/compile_model.sh
  ci/NWA/data_table
  ci/NWA/diag_table
  ci/NWA/envs/container-gaea.env
  ci/NWA/field_table
  ci/NWA/input.nml
  ci/NWA/run_model.sh
Labels: pass_CEFI_MOM6_RT_container

#157 Attempt to fix GHA workflows for fork branch
  .github/workflows/CEFI_MOM6-ci.yaml
  .github/workflows/mom6_cobalt_1D.yaml
  .github/workflows/mom6_tide_2D.yaml
Labels: bug, CEFI_MOM6_RT_container

#155 updating README to indicate NEP-specific file for WOA climatological sst
  tools/rivers/bgc/NEP/README.md
  tools/rivers/bgc/NEP/mapriv_combined_NEP10k.m
Labels: CEFI_MOM6_RT_container

#163 Changed CI container MPI implementation
  .github/workflows/mom6_tide_2D.yaml
  builds/ci_build_driver.sh
  ci/singularity/README.md
  ci/singularity/build_cefi_model_efa_base.def
  exps/NEP10.COBALT/driver.sh
  exps/NWA12.COBALT/driver.sh
  exps/NWA12.tidesonly/driver.sh
Labels: CEFI_MOM6_RT_container

#164 cleanup build script
  .github/workflows/mom6_cobalt_1D.yaml
  builds/ci_build_driver.sh
  builds/linux-build.bash
  exps/dumbbell/z_sub/driver.sh
Labels: pass_CEFI_MOM6_RT_container

#166 Refactor the whole CI workflow
  .github/workflows/ci-build.yaml
  .github/workflows/ci-test-mom6-cobalt.yaml
  .github/workflows/ci-test-mom6-dumbbell.yaml
  .github/workflows/ci-test-mom6-tide.yaml
  .github/workflows/old/dumbbell_test._yaml
  .github/workflows/old/get_glorys_test._yaml
  .github/workflows/old/mom6_cobalt_1D._yaml
  .github/workflows/old/mom6_tide_2D._yaml
  README.md
Labels: CEFI_MOM6_RT_container
